<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ListenerExecution">
	<listeners>
        <listener class-name="report.ListenertestNG"></listener>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>

	<test name="ExecutingListeners" >   <!--parallel="classes" thread-count="10"-->
		<classes>
			<class name="weather.AirPollutionAPITest">
				<methods>
					<include name="verify_airpollution_endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_airpollution_endpoint_405_valid_payload_PUT_method"></include>
					<include name="verify_airpollution_endpoint_405_valid_payload_POST_method"></include>
					</methods>
			</class>
			<class name="weather.WeatherAPITest">
				<methods>
					<include name="verify_CurrentWeather_Endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_CurrentWeather_Endpoint_401_Invalid_payload_GET_method"></include>
					<include name="verify_CurrentWeather_Endpoint_400_Invalid_Latitude_payload_GET_method"></include>
					<include name="verify_CurrentWeather_Endpoint_400_Invalid_Longitude_payload_GET_method"></include>
					<include name="verify_CurrentWeather_Endpoint_405_valid_payload_PUT_method"></include>
					<include name="verify_CurrentWeatherRequest_ByZipCode_Endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_CurrentWeatherRequest_ByCityID_Endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_CurrentWeatherRequest_ByCityName_CountryCode_Endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_CurrentWeatherRequest_ByCityName_Endpoint_200_valid_payload_GET_method"></include>

				</methods>
			</class>
			<class name="weather.Forecast5Day3hourTest">
				<methods>
					<include name="verify_5Days3hourForecast_endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_5Days3hourForecast_endpoint_405_valid_payload_PUT_method"></include>
					<include name="verify_5Days3hourForecast_ByZipCode_endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_5Days3hourForecast_ByCityID_endpoint_200_valid_payload_GET_method"></include>
					<include name="verify_5Days3hourForecast_ByCityName_endpoint_200_valid_payload_GET_method"></include>
				</methods>
				</class>
			
		</classes>
	</test>
</suite>
